
.card-group {
    //display: flex;
    justify-content: space-between;
    //flex-wrap: wrap;
    gap: 15px;
}

.card {
    width: 100%;
    position: relative;
    padding-bottom: 2rem;
    border: 1px solid $alpha;
    .card-flag {
        background-color: $alpha;
        color: $paper;
        padding: 2px;
        width: 100px;
        text-align: center;
        position: absolute;
        top: 37px;
        right: 0%;
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .card-image {
        width:100%; /*container-width*/
        height: 200px;
        overflow: hidden; /*hide bounds of image */
        margin:0; /*reset margin of figure tag*/
    }
    .card-head {
        padding: 0 15px;
    }
    .card-body {
        color: $ink;
        padding: 0 15px;
        margin-bottom: 2.5rem;
    }
    .meta{
        font-size: smaller;
        color: tint(black, 40);
    }

    .card-foot {
        position: absolute;
        bottom: 1rem; 
        left: 15px;
    }

}

.card-left {
    display: grid;
    padding-bottom: 0;
    margin-bottom: 1rem;
    .card-flag {
        position: static;
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .card-foot {
        position: static;
        padding: 0 15px;
        bottom: 0;
    }
    .card-image {
        grid-area: image;
        height: 300px;
    }
    .card-head {
        grid-area: head;
    }
    .card-body {
        grid-area: body;
        margin-bottom: 0;
    }

    .card-foot {
        grid-area: foot;
    }
    grid-template-areas: 
        "image head head" 
        "image body body" 
        "image foot foot";

}

.card-right {
    display: grid;
    padding-bottom: 0;
    margin-bottom: 1rem;
    .card-flag {
        position: static;
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .card-foot {
        position: static;
        padding: 0 15px;
        bottom: 0;
    }
    .card-image {
        grid-area: image;
        height: 300px;
    }
    .card-head {
        grid-area: head;
    }
    .card-body {
        grid-area: body;
        margin-bottom: 0;
    }

    .card-foot {
        grid-area: foot;
    }
    grid-template-areas: 
        "head head image" 
        "body body image" 
        "foot foot image";

}

// move to media scss
img { width: 100%; height: auto; display: block;}