

.card-group {
    display: grid;
    grid-gap: 1rem;
 }

.card {
    display: grid;
    border: 1px solid $alpha;
    padding-bottom: 2.5rem;
    position: relative;
    .card-image {
        grid-area: image;
        max-height: 150px;
        width:100%; /*container-width*/
        overflow: hidden; /*hide bounds of image */
    
    }
    .card-head {
        grid-area: head;
        padding: 0 15px;
    }
    .card-body {
        grid-area: body;
        margin-bottom: 1rem;
        padding: 0 15px;
        color: $ink;
    }

    .card-foot {
        grid-area: foot;
        align-self: end;
        padding: 0 15px;
    }
    grid-template-areas:
        "image"
        "head"
        "body"
        "foot";

    .card-flag {
        background-color: $alpha;
        color: $paper;
        padding: 2px;
        width: 100px;
        text-align: center;
    }
    .meta{
        font-size: smaller;
        color: tint(black, 40);
    }
}

.card-tag {
    .card-flag {
        position: absolute;
        top: 37px;
        right: 0%;
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}


.card-left {
    padding-bottom: 0;
    margin-bottom: 1rem;
    height: 300px;
    grid-template-areas:
        "image head head"
        "image body body"
        "image foot foot";
    .card-foot {
        padding: 30px 15px;
    }
    .card-image {
        max-height: 300px;
        height: 300px;
    }
    .card-body {
        margin-bottom: 0;
    }
}

.card-right {
    padding-bottom: 0;
    margin-bottom: 1rem;
    grid-template-areas:
        "head head image"
        "body body image"
        "foot foot image";
    .card-foot {
        padding: 30px 15px;
    }
    .card-image {
        max-height: 300px;
    }
    .card-body {
        margin-bottom: 0;
    }
}

.card-special {
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-row: 1fr 2fr 1fr;
    max-width: 350px;
    padding: 0;
    margin: 20px;
    .card-image { 
        grid-row: 1 / span 5;
        grid-column: 1 / span 4;
        z-index: 1;
        max-height: 350px;
        background-color: $alpha;
        background-blend-mode: screen;
        mix-blend-mode: color;
        filter:  hue-rotate(250deg);
        
    }
    .card-head {
        grid-row: 1.5 / span 3;
        grid-column: 1 / span 1;
        z-index: 2;
        h3 {
            background-color: $alpha;
            background-color: rgba(155,93,229, 0.8);
            line-height: 1rem;
        }
        
    }
    .card-body {
        grid-row: 4 /span 2;
        grid-column: 2 / span 2;
        background-color: $zeta;
        line-height: .75rem;
    }
}